<div class="jumbotron">
    <div class="row">
        <h1 class="text-center col-md-12">List Of items in Cart</h1>
    </div>
    <div class="row">
        <h3 class="col-md-4"></h3>
        <h3 class="col-md-4">Items</h3>
        <h3 class="col-md-4">Cost</h3>
    </div>
    <div class="row">
        <h3 class="col-md-4">Iphone 11 Pro</h3>
        <h3 class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </h3>
        <h3 class="col-md-4">Cost</h3>
    </div>
    
</div>