<div class="head">
    <div class="head-left">
        <img src="./assets/images/logo.jpg" alt="logo img" class="img-responsive img-circle logoimg">
    </div>
    <div class="head-right">
        <a href="product"><button class="btn btn-primary btnproduct">Products</button></a>
        <a href="cart"><button class="btn btn-primary">Cart</button></a>
    </div>
</div>