.head{
    background-color: #a4cc3a;
    width: 100%;
    height: 6rem;
}
.head-left{
    float: left;
    width: 80%;
}
.head-right{
    float: right;
    width: 20%;
    margin-top:2rem;
}
.logoimg{
    margin-left: 2rem;
    width: 7rem;
    height: 6rem;
}
.btnproduct{
    margin-right: 2rem;
}